<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
	<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">	
    <title>{{ page.title }}</title>
  </head>

<body>
	<div class="header">
		<div class="header-container">
			<header>
				<h1><a href="{{site.baseurl}}" Excel Notes</a></h1>
			</header>

		</div>
	</div>
	  
<div class="container">
	<main>
   		<h2>{{ page.title }}</h2>
				
			<div class="post_date">
			{{ page.date | date_to_string }} 
			</div>
		
      		{{ content }}
		
		</p>
		

	</main>
</div>

<footer>
	<div class="footer-container">
		<p>Excel Notes 2021</p>
	</div>
</footer>

 </body>
</html>


